.carousel-item > img {
  -webkit-animation: ZoomIn 20s;
  -o-animation: ZoomIn 20s;
  animation: ZoomIn 20s;
}
@keyframes ZoomIn {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(2.5, 2.5);
  }
}

.footer .footer-links ul a:hover {
  color: white;
}
